@font-face {
    font-family: 'Source Code Pro';
    src: url("assets/source_code_pro.ttf");
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #262626;
}

@media screen and (min-width: 800px) {
    body {
        background-image: url("assets/background.png");
        background-size: cover;
        background-position: center;
    }
}

p {
    text-align: justify;
}

a {
    color: inherit
}

header,
footer,
main {
    padding: 1em;
}

header,
footer {
    color: #262626;
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
    background-color: #fab23d;
    box-shadow: 0px 0px 16px 0px black;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: x-large;
}

footer {
    text-align: center;
}

.welcome-box {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    margin: auto;
    max-width: 540px;
}

.card {
    border-style: solid;
    border-color: #ffc812;
    border-width: 1px;
    background-color: #262626;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

a.card:hover h2 {
    text-decoration-line: underline;
}

.card img {
    width: 100%;
}

.card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: linear-gradient(to top,
            #000000ff 0%,
            #00000080 75%,
            #00000000 100%);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 600px));
    grid-auto-rows: 350px;
    justify-content: center;
    gap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}