body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(70, 57, 70);
    text-align: center;
}

h1
{
    color: white;
    font-size: 3em;
    text-shadow: 0px 0px 10px rgb(150, 150, 150);
    display: inline-block;
}

h2
{
    color: rgb(205, 205, 205);
    border-radius: 10px;
    display: inline-block;
}

.centered {
    text-align: center;
}

.button {
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 0px 2px black;
    background-position: center;
    background-repeat: no-repeat;
  }

.button_linkedin {
    background-color: #0274B3;
    background-image: url("linkedin.jpg");
    background-size: 6em;
    height: 6em;
    width: 6em;
}

.button_github {
    background-color: black;
    background-image: url("github.jpg");
    background-size: 6em;
    height: 6em;
    width: 6em;
}

.button:hover {
    box-shadow: 0px 0px 20px black;
}

.footnote {
    color: rgb(205, 205, 205);
    font-size: 1em;
    display: inline-block;
}